.site-header {
    background-color: rgb(232, 222, 222);
}

.site-header .container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em 1em;
}

.site-header a {
    text-decoration: none;
    color: #BC7849;
    font-size: 1.1em;
    font-weight: bold;
}

.logo-container img {
    object-fit: cover;
    width: 60px;
}

.navigation ul,
.guest,
.user {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
}

.navigation li {
    display: inline-block;
    width: 12ch;
    text-align: center;
}